body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: white;
  font-family: "游ゴシック", sans-serif;
}
.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: white;
  background: royalblue;
  border: solid 3px white;
  border-radius: 10px;
}
