@font-face {
    font-family: "Qavaxa";
    src: url("https://static.miraheze.org/kakukokkawiki/8/89/Qavaxa.ttf");  format('ttf');
}

.font {
  font-family: "Qavaxa";
  letter-spacing: -0.8px;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #c0a2c7;
  font-family: "游ゴシック", sans-serif;
}
.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: white;
  background: #522f60;
  border: solid 3px white;
  border-radius: 10px;
}
p.box {
  margin: -2em 0 -5em 0;
}
.caption {
  float: left;
}
